.purchase-btn-wrapper .active-btn {
  background-color: #fff;
  border-radius: 25px;
  color: #000 !important;
}
.purchase-btn-wrapper .inactive-btn {
  background-color: transparent;
  border-radius: 25px;
  color: #85859a;
}

.residential-bg {
  background-image: url('../img/residential-bg.svg');
  background-size: 100%;
  height: 320px;
  border-radius: 5px;
}
